{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Board</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>

    <div class="container">

        {% block navbar %}
        {% endblock navbar %}

        {% block main_content %}
        {% endblock main_content %}
        
        <div class="floating-bubble bubble-1"></div>
        <div class="floating-bubble bubble-2"></div>
        <div class="floating-bubble bubble-3"></div>   
        
    </div>

    <script>
  document.addEventListener("keydown", function (e) {
    if (e.key === "/" && document.activeElement.tagName !== "INPUT") {
      e.preventDefault(); 
      const input = document.querySelector("input[type='text'], input:not([type])");
      if (input) input.focus();
    }
  });
</script>

</body>
</html>