{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <div class="container">
        <div class="todo-header">
            <h1>My Tasks</h1>
            <p>Plan your day beautifully</p>
        </div>
        

        
        <div class="todo-card">

            {% block input_box %}
            {% endblock input_box %}
            
            <ul class="todo-list">
                {% block content %}
                {% endblock content %}
            </ul>
            
            {% block filter %}
            {% endblock filter %}

        </div>
        


        <div class="floating-bubble bubble-1"></div>
        <div class="floating-bubble bubble-2"></div>
        <div class="floating-bubble bubble-3"></div>
    </div>
</body>
</html>