
{% for list in task_list %}

    <li class="todo-item {% if list.is_checked %}completed{% endif %}">
      <div class="checkbox-wrapper">

        <a href="{% url 'checkbox' list.id %}" >
          <span class="checkbox{% if list.is_checked %}-checked{% endif %}">
            {% if list.is_checked %}✓{% endif %}
          </span>
        </a>

      </div>
      <div class="todo-item-content">

        <div class="todo-item-title">{{ list.task}}</div>
        <div class="todo-item-date">{{ list.created_at|date:"M d, h:i A" }}</div>

      </div>

      <a href="{% url 'edit' list.id %}" class="edit-btn">
        <span class="edit"><i class="material-icons">edit</i></span>
      </a>

      <a href="{% url 'remove' list.id %}" class="delete-btn">
        <span class="cross">×</span>
      </a>

    </li>

  {% endfor %}












<!-- <li class="todo-item completed">
                    <div class="checkbox-wrapper">
                        <input type="checkbox" class="checkbox" id="task2" checked>
                    </div>
                    <div class="todo-item-content">
                        <div class="todo-item-title">Review client feedback</div>
                        <div class="todo-item-date">Today, 10:30 AM</div>
                    </div>
                    <button class="delete-btn">
                        <span class="cross">×</span>
                    </button>
                </li> -->
