














<!-- <li class="todo-item completed">
                    <div class="checkbox-wrapper">
                        <input type="checkbox" class="checkbox" id="task2" checked>
                    </div>
                    <div class="todo-item-content">
                        <div class="todo-item-title">Review client feedback</div>
                        <div class="todo-item-date">Today, 10:30 AM</div>
                    </div>
                    <button class="delete-btn">
                        <span class="cross">×</span>
                    </button>
                </li> -->
