
<div class="todo-footer">
    <div class="items-left">
      
      {% if task_list %}

          {% if count < 1 %}

              {% if request.resolver_match.url_name == 'home' or request.resolver_match.url_name == 'completed' %}
                  All tasks are completed
              {% elif request.resolver_match.url_name == 'active' %}
                  No active tasks
              {% endif %}
              
          {% else %}

              {% if request.resolver_match.url_name == 'home' or request.resolver_match.url_name == 'active' %}
                  {{ count }} task{{ count|pluralize }} left
              {% elif request.resolver_match.url_name == 'completed' %}
                  {{ count }} completed task{{ count|pluralize }}
              {% endif %}

          {% endif %}

      {% else%}
        No available tasks
      {% endif %}
      
    </div>
    <div class="filters"tabindex="40">
        <a href="{% url 'home' %}" id="all" class="filter" data-tooltip="Show all tasks" tabindex="40">All</a>
        <a href="{% url 'active' %}" id="active" class="filter" data-tooltip="Show active tasks" tabindex="40">Active</a>
        <a href="{% url 'completed' %}" id="completed" class="filter" data-tooltip="Show completed tasks" tabindex="40">Completed</a>
    </div>
</div>

<script>
  if (window.location.pathname.startsWith("/active/")) {
    document.getElementById("active").classList.add("active");

  } else if (window.location.pathname.startsWith("/completed/")) {
    document.getElementById("completed").classList.add("active");

  }else{
    document.getElementById("all").classList.add("active");
  }
</script>