
<div class="todo-footer">
    <div class="items-left">
        {% if count < 1 %}
            All tasks are completed
        {%else%}
            {{count}} tasks left
        {% endif %}
    </div>
    <div class="filters">
        <a href="{% url 'home' %}" id="all" class="filter">All</a>
        <a href="{% url 'active' %}" id="active" class="filter">Active</a>
        <a href="{% url 'completed' %}" id="completed" class="filter">Completed</a>
    </div>
</div>

<script>
  if (window.location.pathname.startsWith("/active/")) {
    document.getElementById("active").classList.add("active");

  } else if (window.location.pathname.startsWith("/completed/")) {
    document.getElementById("completed").classList.add("active");

  }else{
    document.getElementById("all").classList.add("active");
  }
</script>