{% extends 'base.html'%}

{% block navbar %}
    {% include 'navbar.html'%}
{% endblock navbar %}

{% block main_content %}
<div class="login-card">
    <form method="post" enctype="multipart/form-data">
        
        {% if messages %}
            <div class="error-container">
                {% for message in messages %}
                    <div class="{{ message.tags }}">
                        <li>{{message}}</li>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-input" placeholder="Enter your username" required>
        </div>
        
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-input" placeholder="Enter your password" required>
        </div>
        
        <button type="submit" class="login-btn">Login</button>
    </form>
    
    <div class="form-footer">
        <p>Don't have an account?</p>
        <a href="{% url 'signup' %}">Sign up</a>
    </div>

</div>
        
{% endblock main_content %}