{% extends 'base.html'%}

{% block navbar %}
    {% include 'navbar.html'%}
{% endblock navbar %}

{% block main_content %}
<div class="login-card">
    <div class="password_reset">
        <h1>Password change</h1>
        <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
    </div>

    <form method="post">

        {% if form.errors %}
        <div class="error-container">
            {% for message in form.non_field_errors %}
            <div class="error">
                <li>{{ message  }}</li>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% csrf_token %}

        <div class="form-group">
            <label for="id_old_password">Old password</label>
            <input type="password" name="old_password" class="form-input" placeholder="Enter your old password" autocomplete="current-password" autofocus required id="id_old_password" tabindex="1">
        </div>
        {% if form.old_password.errors %}
        <div class="error-container">
            {% for message in form.old_password.errors %}
            <div class="error">
                <li>{{ message  }}</li>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        
        <div class="form-group">
            <label for="id_new_password1">New password</label>
            <input type="password" name="new_password1" class="form-input" placeholder="Enter a new password" autocomplete="new-password" required id="id_new_password1" tabindex="2">
        </div>
        {% if form.new_password1.errors %}
        <div class="error-container">
            {% for message in form.new_password1.errors %}
            <div class="error">
                <li>{{ message  }}</li>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        
        <div class="form-group">
            <label for="id_new_password2">New password confirmation</label>
            <input type="password" name="new_password2" class="form-input" placeholder="Confirm your new password" autocomplete="new-password" required id="id_new_password2" tabindex="3">
        </div>
        {% if form.new_password2.errors %}
        <div class="error-container">
            {% for message in form.new_password2.errors %}
            <div class="error">
                <li>{{ message  }}</li>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        
        <button tabindex="4" type="submit" class="login-btn">Change my password</button>
        
    </form>

</div>

{% endblock main_content %}

